# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class
*.iml

.idea/
target/
logs/
app

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.bin
*.ipr
*.log